---
// import NavMobile from "../components/NavMobile.astro";
// import NavWeb from "../components/NavWeb.astro";
import Splash from "../components/Splash.astro";
import CardRead from "../components/CardRead.astro"
import "../css/style.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CA Kampagnesite</title>
	</head>
	<body>
		<header>
			<!-- <NavMobile />
			<NavWeb/> -->
		</header>
		<main>
			<Splash/>
			<CardRead 
			header="Bliv Gratis Medlem" 
			text= {`Som studerende er du gratis medlem af CAs a-kasse og ydelser, derudover får du CAs advokathjælp.  
			CA Advokathjælp er gratis for studerende og kan hjælpe dig med at tjekke kontrakten på dit studiejob og juridisk rådgivning af professionelle advokater. ` }
			 />	
				
		
		</main>
		
		
	</body>
</html>
