---
// import NavMobile from "../components/NavMobile.astro";
// import NavWeb from "../components/NavWeb.astro";
import Splash from "../components/Splash.astro";
import CardRead from "../components/CardRead.astro";
import CardWhy from "../components/CardWhy.astro";
import CardAmbassador from "../components/CardAmbassador.astro";
import "../css/style.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CA Kampagnesite</title>
	</head>
	<body>
		<header>
			<!-- <NavMobile />
			<NavWeb/> -->
		</header>
		<main>
			<Splash/>
			<CardRead 
			header="Bliv Gratis Medlem" 
			text= {`Som studerende er du gratis medlem af CAs a-kasse og ydelser, derudover får du CAs advokathjælp.  
			CA Advokathjælp er gratis for studerende og kan hjælpe dig med at tjekke kontrakten på dit studiejob og juridisk rådgivning af professionelle advokater. ` }
			picture=""
			 />	

			 <CardRead 
			 header="Gode råd og sparing til at kickstarte din karriere"/>

			 	 <CardRead 
			 header="Medlemsfordele og rabatter"
			 text="Som medlem af CA får du adgang til gratis kurser i Adobe programmer, kontante rabatter, billige forsikringer og meget mere."/>

			 <CardWhy/>

			 <CardAmbassador
			 header="Monica" text="Ambassadør på KEA">
			<img src="#" alt="picture" /></CardAmbassador>
			 	 <CardAmbassador
			 header="Monica" text="Ambassadør på KEA">
			<img src="#" alt="picture" /></CardAmbassador>
			 	 <CardAmbassador
			 header="Monica" text="Ambassadør på KEA">
			<img src="" alt="picture" /></CardAmbassador>
			 	 <CardAmbassador
			 header="Monica" text="Ambassadør på KEA">
			<img src="" alt="picture" /></CardAmbassador>
			 
		</main>
		
		
	</body>
</html>
