---
import "../css/style.css";
const {header , text} = Astro.props;

---

<div class="grid_1_1">
    <div class="grid1">
        <h2>{header}</h2>
        <p>{text}</p>
        <button></button>
    </div>
    <img src="#" alt="indsæt content her">
</div>