---
import "../css/style.css";
const {header , text, picture} = Astro.props;

---

<div class="grid_1_1">
    <div class="grid1">
        <h2>{header}</h2>
        <p>{text}</p>
        <button></button>
    </div>
    <img src="#"{picture} alt="indsæt content her">
</div>

<style>
    .grid_1_1{
      
  display: grid;
  grid-template-columns: 1fr 1f;

        
      
    }
</style>